# Carpeta de configuración de VS Code
.vscode/*

# Extensiones específicas para archivos de trabajo
*.code-workspace

# Archivos temporales de VS Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Archivos compilados
*.class
*.o
*.out
*.so
*.exe

test.cpp